body{
    margin: 0;
    padding: 0;
}
.menu{
    text-align: center;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.menu ul li {
    float: left;
  }
  
.menu ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
.menu ul li a:hover {
    background-color: #111;
  }
.main{
    text-align: center;
}
.footer{
    background-color: #333;
    text-align: center;
    padding: 5px 5px;
    color: white;
    font-size: 1.4 em;
}